/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/* GENERAL RULES */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;
  font-size: 12px;
  color: #33475a;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 40px;
}
h6 {
  font-size: 10px;
  font-weight: 400;
}
.card {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 5px lightgray;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.cta-btn {
  background: rgba(254, 119, 89, 1);
  color: white;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
}
.cta-btn a{
  color: white;
}
.cta-btn:hover{
  cursor: pointer;
  background: #00a4bc;
  transition: 0.3s;
}
.fa-check-circle{
 color: rgba(254, 119, 89, 1);
}
.white {
  color: white;
}
/* END GENERAL RULES */

/* HEADER */

/** Login NavBar **/
nav {
  height: 140px;
}
nav .login  {
  background: #f4f9fd;
  border-bottom: 1px solid #6f808d;
  height: 70px;
}
nav .login .login-list {
  padding: 20px 0;
}
nav .login .login-list .col {
  float: left;
  line-height: 25px;
}
/* Navbar Left Col */
nav .login .login-list .language {
  width: 70%;
}
nav .login .login-list .language li{
  display: inline-block;
  padding: 0 5px;
  color: #536776;
}
nav .login .login-list .language li i{
  padding: 0 10px;
}
/* Navbar Right Col */
nav .login .login-list .buttons {
  text-align: right;
  width: 30%;
}
nav .login .login-list .buttons span{
  margin: 0 7px;
  padding: 8px 10px;
  border-radius: 5px;
}
nav .login .login-list .buttons i{
  color: #23ADC4;
}
nav .login .login-list .buttons .login-btn{
  border: 1px solid #fe7759;
}
nav .login .login-list .buttons .login-btn a{
  color: #fe7759;
}
nav .login .login-list .buttons .cta-btn{
  border: 1px solid #fe7759;
}
/** End Login NavBar **/

/** Menu NavBar **/
nav .navbar .menu {
  padding: 20px 0;
  height: 70px;
}
nav .navbar .menu .col {
  float: left;
  line-height: 25px;
}
nav .navbar .menu .logo {
  width: 60%;
  padding: 0px 10px;
}
nav .navbar .menu ul li{
  display: inline-block;
  padding: 0 5px;
}
nav .navbar .menu ul li *{
  color: #536776;
  padding: 0 2px;
}
nav .navbar .menu .list {
  text-align: right;
  width: 40%;
}
/** End Menu NavBar **/

/** Hero **/
header .hero {
  background-image: url('../img/header/jumbotron.png');
  background-size: 105%;
  background-repeat: no-repeat;
  background-position: 10% 100%;
  height: 600px;
}
header .hero .container .hero-text{
  float: left;
  width: 50%;
  height: 400px;
  /* margin: 200px 0; */
}
header .hero .container .hero-text h1{
  font-size: 40px;
}
header .hero .container .hero-text p{
  font-size: 15px;
  line-height: 25px;
}
header .hero .container .hero-text h6{
  font-size: 10px;
}
header .hero .container .hero-text *{
  margin-top: 30px;
}
header .hero .container .hero-text .cta-btn{
  display: block;
  width: 160px;
}
/** End Hero **/

/* END HEADER */


/* MAIN */

/** Features Section **/
main .features {
  background: #F4F9FD;
}
main .features .row{
  margin-bottom: 50px;
}

/* First Row */
.first-row {
  padding-top: 30px;
}
.first-row .text {
  text-align: center;
}
.first-row .text h2{
  font-size: 30px;
  color: #32495a;
  margin-bottom: 30px;
}
.first-row .text p{
  font-size: 15px;
  color: #32495a;
  line-height: 25px;
}
/* End First Row */

/* Second Row */
.second-row .card .col{
  float: left;
  margin-left: 5%;
}
.second-row .card .col .content-left,
.second-row .card .col .content-right {
  margin: 50px;
}
.second-row .card .left {
  width: 20%;
}
.second-row .card .left img{
  height: 100px;
}
.second-row .card .left .cta-btn{
  margin: 20px 0;
  padding: 20px 5px;
}
.second-row .card .right{
  width: 60%;
}
.second-row .card .col .content-right h2{
  line-height: 40px;
  margin-bottom: 20px;
}
.second-row .card .col .content-right p{
  line-height: 20px;
  margin-bottom: 20px;
}
.second-row .card .col .content-right hr{
  width: 60%;
  margin: -10px 0px 0 180px;
}
.second-row .card .col .content-right ul li{
  display: inline-block;
  margin-top: 30px;
}
.second-row .card .col .content-right ul li i{
  padding-left: 5px;
}
.second-row .card .col .content-right ul li *{
  padding-right: 10px;

}
/* End Second Row */

/* Third Row */
.third-row .col{
  float: left;
  width: 30%;
}
.third-row .col .content{
  width: 85%;
  margin: 0 auto;
}
.third-row .center{
  margin: 0 5%;
}

/* Card Design */
.third-row .col .content div{
  margin-top: 20px;
}
.third-row .col .img{
  width: 100px;
  margin: 0 auto;
}
.third-row .col .img img{
  height: 100px;
}
.third-row .col .text{
  text-align: center;
  margin-bottom: 30px;
}
.third-row .col .text h2{
  font-size: 20px;
}
.third-row .col .text p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
}
.third-row .col hr{
  width: 50%;
  margin: 0 auto;
}
.third-row .col .features-list h3{
  text-align: center;
  margin-bottom: 20px;
}
.third-row .col .features-list ul li *{
  padding: 2px 10px;
}
.third-row .col .features-list .cta-btn {
  width: 50%;
  margin: 30px auto 20px auto;
  padding: 20px 5px;
}
/* End Card Design */

/* End Third Row */
/** End Features Section **/

/** Numbers Section **/
main .numbers {
  background-image: linear-gradient(to right top, #00a4bc, #00abba, #00b1b5, #00b7ae, #00bda5);
  padding-bottom: 60px;
}

/* Section Text*/
main .numbers .container .text {
  padding: 20px 0;
  text-align: center;
}
main .numbers .container .text h2{
  font-size: 30px;
  text-align: center;
  padding: 30px;
}
main .numbers .container .text p{
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}
/* End Section Text*/

/* Grid */
.grid-container .row .box{
  float: left;
  width: 25%;
  margin-top: 5%;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.grid-container .row .box:last-child {
  border-right: none;
}
.grid-container .row .box .box-content{
  width: 100%;
  margin: 0 auto;
}
.grid-container .row .box .box-content .icon{
  height: 60px;
  margin: 20px auto;
}
.grid-container .row .box .box-content .icon img{
  height: 40px;
  width: 100%;
  margin: 0 auto;
}
.grid-container .row .box .box-content .number p{
  font-size: 50px;
  text-align: center;
  font-weight: 600;
}
.grid-container .row .box .box-content .description p{
  margin: 20px 0;
  text-align: center;
}
.grid-container .second .box {
  margin-top: 0;
  border-bottom: none;;
}
/* End Grid */

/** End Numbers Section **/

/** Partners Section **/
/* Partner Logos*/
main .partners .partner-list {
  width: 85%;
  margin: 30px auto;
}
main .partners .col {
  float: left;
}
main .partners .text{
  width: 20%;
}
main .partners .text span{
  font-size: 50px;
  font-weight: 600;
}
main .partners .text p{
  font-size: 15px;
  margin-top: 10px;
}
main .partners .logos{
  width: 60%;
  margin-left: 20%;
}
main .partners .logos .row{
  margin: 40px 0;
}
main .partners .logos .row ul li{
  float:left;
  width: 25%;
}
main .partners .logos .row ul li .img{
  height: 30px;
}
main .partners .logos .row ul li .img img{
  width: 100px;
}
/* End Partner Logos*/

/* Partners Avatar*/
main .partners .avatar .col{
  float: left;
  width: 50%;
  margin: 50px 0;
}
main .partners .avatar .text {
  width: 40%;
}
main .partners .avatar .text h2{
  margin: 30px 0;
  font-size: 30px;
}
main .partners .avatar .text p{
  font-size: 15px;
  margin-bottom: 50px;
}
main .partners .avatar .text .cta-btn{
  width: 50%;
  padding: 20px 5px;
}
main .partners .avatar .text h6{
  margin-top: 30px;
}
main .partners .avatar .avatar {
  width: 50%;
  margin-left: 10%;
}
main .partners .avatar .avatar img{
  width: 300px;
  float: right;
}
/* End Partners Avatar */
/** End Partners Section **/ 
/* END MAIN */

/* FOOTER */
footer {
  background: #32495a;
  height: 500px;
}
/* END FOOTER */
